/* ベース */
body {
    color: #000;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: 500
}
/* ベースend */


/* ヘッダー */
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
}
.header-container{
    margin: 0 36px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
}
.header-logo img{
    height: 20px;
    width: auto;
    display: block;
}
.header-logo img:hover{
    transition: 0.3s;
    opacity: 0.8;
    
}
.header-hamburger{
    display: none;
}
.header-nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.header-list-item{
    margin-right: 45px;
}
.header-list-item:hover{
    transition: 0.3s;
    opacity: 0.7;
}
.header-list-item:last-of-type{
    margin-right: 0;
}
.header-list-item span{
    font-weight: 700;
    display: block;
    text-align: center;
}
.header-list-item span:first-child{
    font-family: 'Lato', sans-serif;
}
.header-list-item span:last-child{
    font-size: 10px;
    font-family:游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; ;
}
.button{
    font-size: 12px;
    font-weight: 700;
    background-color: #F79214;
    color: #fff;
    align-items: center;
    border-radius: 38px;
    padding: 0 20px;
    height: 40px;
    display:flex;
}
/* ヘッダーend */


/* first-view */
.first-view-sp{
    display: none;
}
.first-view{
    background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}   
.first-view-container{
    max-width: 1140px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
}
.first-view-content{
    margin-bottom: 70px;
    width:max-content;
}
.first-view-content-title{
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    line-height: 54px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
}
.first-view-content-images{
    margin-bottom: 25px;
}
.first-view-content-images img{
    margin-right: 8px;
}
.first-view-content-images img:nth-of-type(3){
    margin-right: 0px;
}
.first-view-content-images img:nth-of-type(2){
    width: 40%;
}
.first-view-content-buttons{
    display: flex;
}
.first-view-content-buttons a{
    height: 64px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.first-view-content-buttons a:hover{
    transition: 0.3s;
    opacity: 0.8;
}
.first-view-content-buttons a:first-of-type{
    width: 306px;
    margin-right: 15px;
}
.first-view-content-buttons a:last-of-type{
    width: 176px;
    color: #000;
    background-color: #fff;
    border: 1px solid #E0E0E0;
}
.first-view-text{
    font-size: 12px;
    color: #A2A2A4;
}
.first-view-text span a{
    font-size: 12px;
    color: #A2A2A4;
}
/* first-view end*/


/* about */
.about-wrap{
    background-color: #F79214;
    padding: 44px 0;
    margin-bottom: 100px;
}
.about{
    max-width: 1140px;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.about-video{
    width: 50%;
    margin-right: 2px;
}
.about-title{
    margin-left: 30px;
    color: #fff;
}
.about-title h2{
    font-size: 38px;
    width: 100%;
    line-height: 54px;
    letter-spacing: .1em;
}
.about-title h2 span{
    font-family: 'Lato', sans-serif;
    font-size: 38px;
}
.about-title p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 26px;
}
.about-title img{
    margin-right: 5px;
}
.about-title a{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    line-height: 26px;
}
/* about end*/




/* 770レスポンシブ */
@media screen and (max-width: 770px){
    .main{
        padding-top: 52px !important;
    }
    .header{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .header-container{
        margin: 0 20px;
    }
    .header-logo img{
        height: 16px;
        width: auto;
    }
    .first-view-sp{
        display: block;
        width: 100%;
    }
    .first-view{
        background-image: none;
        padding-top: 0%;
    }
    .first-view-container{
        margin-top: -45vw;
        padding: 0 20px;
    }
    .first-view-content{
        width: 100%;
        margin-bottom: 20px;
    }
    .first-view-content-title{
        font-size: 25px;
        line-height: 36px;
    }
    .first-view-content-images{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .first-view-content-images img{
        width: 27.5%;
    }
    .first-view-content-buttons a:first-of-type{
        width: 100%;
        font-size: 14px;
        margin-right: 0%;
    }
    .first-view-content-buttons a:nth-of-type(2){
        display: none;
    }
    .about-wrap{
        padding: 30px 0;
    }
    .about{
        padding: 0 20px;
    }
    .about-video{
        width: 100% !important;
    }
    .about-title{
        width: 100% !important;
    }
    .about-title h2{
        font-size: 30px;
    }
    .about-title h2 span{
        letter-spacing: 1px;
    }
}
/* 770レスポンシブend */


/* 1024レスポンシブ */
@media screen and (max-width: 1024px){
    .about{
        flex-direction: column;
    }
    .about-video{
        margin-bottom: 16px;
        width: 75%;
    }
    .about-title{
        width: 75%;
        margin-left: 0%;
    }
}
/* 1024レスポンシブend */


/*1080レスポンシブ */
@media screen and (max-width: 1080px){
    .main{
        padding-top: 60px;
    }
    .header{
        background-color: #fff;
        z-index: 10;
    }
    .header-com{
        position: fixed !important;
    } 
    .header-nav-list{
        display: none;
    }
    .header-hamburger{
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }
    .hamburger-line{
        display: block;
        background-color: #000;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);        
}
    .hamburger-line:first-child{
        top: 0;
    }
    .hamburger-line:last-child{
        top: 100%;
    }
}
/*1080レスポンシブend */


